*.log
.DS_Store
.env
dist/
logs/
node_modules/
frontend/student/.env.production
frontend/admin/.env.production
*.env.production
Tracker_aesthic/
cpt-rack-saa-s-dashboard/
frontend/student/dist/
frontend/admin/dist/
